<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    {{>headerlinks}}
  </head>
  <body>
    <section class="hero is-link is-fullheight">
      {{>navbar}}

      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <div class="container">
          <div class="columns ">
            <div class="column is-4">
                <figure class="image is-5by3">
                  <img src="https://blush.design/api/download?shareUri=on67bF1vybZuUeBr&c=Hair_0%7E878787-0.2%7E0f0f0f_Skin_0%7Ec26e5e-0.2%7Eecafa3&w=800&h=800&fm=png">
                </figure>
            </div>


            <div class="title is-anestor">
              <div class="title is-vertical is-8">
                <div class="tile is-parent is-vertical">
                      <article class="tile is-child notification is-info">
                        <p class="title is-1 is-underlined has-text-centered">About Us</p>

                        <div class="content">
                          <p class="has-text-white subtitle is-1">
                            'Wise Quotes' is the oldest collections of quotes, proverbs, and sayings on the web.
                            We’ve provided over thousands of handpicked excerpts compiled by a team of skilled quote curators.
                          </p>
                          <p class="has-text-white subtitle is-1">
                            'Wise Quotes' wishes to spread the power of a good quote to our users.
                          </p>
                          <p class="has-text-white subtitle is-1">
                            “A fine quotation is a diamond on the finger of a man of wit, and a pebble in the hand of a fool.” – Joseph Roux
                          </p>
                        </div>
                      </article>
                    </div>
              </div>

            </div>
          </div>



        </div>
      </div>

      {{>footer}}
    </section>

    {{>scriptlinks}}
  </body>
</html>
