<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    {{>headerlinks}}
  </head>
  <body>
    <section class="hero is-link is-fullheight">
      {{>navbar}}

      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <!-- <section class="section has-background-dark"> -->
          <div class="container ">
            <div class="columns is-gapless">
              <div class="column is-6 main_page_left ">
                <div class="block">
                  <h1 class="title  has-text-link">Discover</h1>
                  <h1 class="title has-text-link">Hidden Gems</h1>
                </div>
                <div class="block">
                  <h2 class="subtitle is-3 has-text-link">Refresh your mind with amazing quotes</h2>
                </div>
                <div class="block">
                  <a href="/quotes">
                    <button class="subtitle is-3 button is-large is-rounded is-link">
                      Get Started <i class="ri-arrow-right-line"></i>
                    </button>
                  </a>

                </div>

              </div>

              <div class="column is-6">
                  <figure class="image is-5by3">
                    <img src="https://blush.design/api/download?shareUri=Rtg__jX2ZjQ3ym9X&w=800&h=800&fm=png">
                  </figure>
              </div>

            </div>
          </div>
        <!-- </section> -->
      </div>

      {{>footer}}
    </section>

    {{>scriptlinks}}

  </body>
</html>
