<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    {{>headerlinks}}
  </head>
  <body>
    <section class="hero is-link is-fullheight">
      {{>navbar}}

      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns">
              <div class="column">
                <div class="box">
                  <div class="content">
                      <p class=" has-text-white quotes mb-4 mt-6"></p>

                  <h1 class=" has-text-white author mt-6 " ></h1>
                  </div>
                  <input class="button is-link is-medium is-rounded title is-3 mt-6" id="submit_btn"
                  type="submit" value="Next Quote">
                </div>
              </div>
            </div>
        </div>
      </div>

      {{>footer}}
    </section>

    {{>scriptlinks}}
  </body>
</html>
