<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {{>headerlinks}}
  </head>
  <body>
    <h1 class="animate__animated animate__flipInX">rough </h1>

    {{>scriptlinks}}
  </body>
</html>
