<!-- Hero footer: will stick at the bottom -->
<div class="hero-foot">
  <footer class="has-background-link">
    <div class="content has-text-centered">
      <p>Copyright <i class="ri-copyright-line"></i> Wise Quotes  <small></small>.</p>
    </div>
  </footer>

</div>
